/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* variables */
/*:root {
   
}/*
/*Container */
.container{margin: 0px auto;
    max-width:1320px;
    padding: 0px 32px;
}
.container2 {
    margin: 0px auto;
    max-width:1000px;
    padding: 0px 32px;
}

/* resets  */
*::before,*::after {
box-sizing: border-box;
}
 /* body   */
a { 
    text-decoration: none;
}


body { 
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
body p{
    line-height: 1.6;
}
/* flex   */
.flex {
    display: flex;
}
.flex-space{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center {
    display: flex;
    align-items:center;
}





/*  main  */
.main {
    background: url(assets/bg-intro-desktop.png) center center no-repeat;
    background-size: contain;
    max-width: 100%;
    height: 100vh;
    background-color: #FF7978;
}
.width {
    
    width: 45%;
    margin:100px 1%;
}

.header h1{
    font-size: 38px;
    font-weight: 800;
    color: white;
    line-height: 1.2;
    margin-bottom: 20px;
}
.header p{
    font-size: 13px;
    color: white;
}
.free-trial {
    width:400px ;
    height: auto;
    padding: 10px 6px;
    text-align: center;
    background-color: #5D54A3;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 14px;
}
 form {
    max-width: 100%;         
    margin: 0 auto;
}
legend {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px 6px;
    text-align: center;
    background-color: #5D54A3;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 11px;
    color: rgb(163, 156, 156);
}
legend span{
    font-size: 14px;
    color: white;
    font-weight: 600;

}
fieldset{
    width: 400px;
    margin: 10px auto;
    background-color: white;
    padding: 20px 20px;
    border-radius: 10px;
}
.form-block {
    display: block;
    width: 390px;
    padding: 12px 12px;
    border-radius: 5px; 
    margin:20px 0px;
    border: 1px solid rgb(170, 167, 167);
    font-weight: 700;
}
.button-block {
    display: block;
    background-color: #37CC8C;
    color: white;
    display: block;
    font-size: 12px;
    padding: 12px 0px;
    width: 420px;
    font-weight: 700;
    border-radius: 5px; 
    margin: 0 auto;
    border:0;
}
.forms p{
    font-size: 12px;
    color: grey;
}
.forms p span{
    color: hotpink;
}